@use "./helpers/mixins/mixins";
@use "./helpers/variables/variables";

@use "./pages/home";
@use "./pages/categori1";
@use "./pages/login";

@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");
//font-family: 'Roboto', sans-serif;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: "Roboto", sans-serif;
	background-color: #f1f1f1;
}

h1 {
	@include mixins.font-big;
}

h2 {
	@include mixins.font-small;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
