@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");
.menu-top-bar {
  height: 80px;
  width: 100%;
  background-color: #212226;
  display: flex;
  justify-content: space-between;
}
.menu-top-bar .left-sec {
  background-color: #212226;
  padding: 20px 10px;
}
.menu-top-bar .left-sec a {
  text-decoration: none;
  color: inherit;
}
.menu-top-bar .right-sec {
  background-color: #212226;
}
.menu-top-bar .right-sec i {
  background-color: #212226;
  color: #f2f2f0;
  font-size: 2em;
  padding: 25px 15px;
}

.menu {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #212226;
  animation: goRight 1s;
  animation-timing-function: ease-in-out;
  z-index: 999;
}
.menu .innerMenu {
  width: 100%;
  height: 100vh;
  margin: 2rem auto;
}
.menu .innerMenu ul {
  display: block;
  background-color: #212226;
}
.menu .innerMenu ul li {
  list-style: none;
  padding: 0.8rem;
  background-color: #212226;
  text-align: center;
}
.menu .innerMenu ul li a {
  background-color: #212226;
  color: #f2f2f0;
  text-transform: capitalize;
  font-family: "Handlee", cursive;
  font-size: 2em;
  padding: 5px 0;
  color: #f2f2f0;
  text-decoration: none;
  font-size: 30px;
  position: relative;
  display: inline-block;
}
.menu .innerMenu ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #f2f2f0;
  border-radius: 4px;
  scale: 0 1;
  transform-origin: right;
  transition: scale 0.5s;
}
.menu .innerMenu ul li a:hover::before {
  scale: 1;
  transform-origin: left;
}
.menu .innerMenu ul li a {
  color: #f2f2f0;
  background-color: #212226;
}

@keyframes goRight {
  from {
    left: 100%;
  }
  to {
    left: 0px;
  }
}
.hide {
  display: none;
}

.show {
  display: block;
}

#highlights h2 {
  margin-bottom: 20px;
}
#highlights #gallery-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#highlights #gallery-container button {
  font-size: 5em;
  padding: 10px;
  background: none;
  border: none;
  color: #bf9969;
  cursor: pointer;
}
#highlights #gallery-container #prev-btn {
  position: absolute;
  left: 10px;
}
#highlights #gallery-container #next-btn {
  position: absolute;
  right: 10px;
}
#highlights #gallery-container #highlightsGallery {
  display: flex;
  overflow-x: hidden;
  padding: 20px;
}
#highlights #gallery-container #highlightsGallery div {
  flex: 0 0 100%;
  transition: transform 0.3s ease;
}
#highlights #gallery-container #highlightsGallery img {
  width: 100%;
}

#most-popular {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}
#most-popular div {
  position: relative;
  background-color: white;
  border: 1.5px solid rgba(33, 34, 38, 0.5333333333);
  border-radius: 8px;
  box-shadow: 4px 7px 24px -9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 7px 24px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 7px 24px -9px rgba(0, 0, 0, 0.75);
  padding: 10px;
}
#most-popular div a {
  text-decoration: none;
  color: inherit;
}
#most-popular div a img {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: white;
}
#most-popular div h4 {
  font-size: 1.5em;
  background-color: white;
  padding: 10px;
  font-family: "Handlee", cursive;
}
#most-popular div p {
  background-color: white;
  padding: 10px 10px 50px 10px;
}
#most-popular div h5 {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: white;
  font-family: "Handlee", cursive;
  font-size: 1.5em;
  text-align: right;
}

.site-footer {
  background-color: #212226;
  color: #f2f2f0;
  padding: 20px;
  text-align: center;
}
.site-footer .footer-content {
  background-color: #212226;
}
.site-footer .footer-content .copyright,
.site-footer .footer-content .contact-info,
.site-footer .footer-content .social-icons,
.site-footer .footer-content .payment-icons {
  flex: 1 1 25%;
  margin: 10px;
  background-color: #212226;
}
.site-footer .footer-content .contact-info p,
.site-footer .footer-content .social-icons p,
.site-footer .footer-content .payment-icons p {
  background-color: #212226;
}
.site-footer .footer-content .social-icons a,
.site-footer .footer-content .payment-icons i {
  color: #f2f2f0;
  background-color: #212226;
  font-size: 20px;
  margin-right: 10px;
}
.site-footer .footer-content .social-icons a .fa-facebook,
.site-footer .footer-content .social-icons a .fa-instagram,
.site-footer .footer-content .social-icons a .fa-twitter,
.site-footer .footer-content .social-icons a .fa-pinterest,
.site-footer .footer-content .social-icons a .fa-linkedin,
.site-footer .footer-content .social-icons a .fa-cc-visa,
.site-footer .footer-content .social-icons a .fa-cc-mastercard,
.site-footer .footer-content .social-icons a .fa-cc-amex,
.site-footer .footer-content .payment-icons i .fa-facebook,
.site-footer .footer-content .payment-icons i .fa-instagram,
.site-footer .footer-content .payment-icons i .fa-twitter,
.site-footer .footer-content .payment-icons i .fa-pinterest,
.site-footer .footer-content .payment-icons i .fa-linkedin,
.site-footer .footer-content .payment-icons i .fa-cc-visa,
.site-footer .footer-content .payment-icons i .fa-cc-mastercard,
.site-footer .footer-content .payment-icons i .fa-cc-amex {
  color: #f2f2f0;
  background-color: #212226;
  font-size: 20px;
  margin-right: 10px;
}
.site-footer .disclaimer p {
  margin-top: 20px;
  background-color: #212226;
}

/* Style for Font Awesome icons */
.categori1-container div {
  padding: 20px 0;
}
.categori1-container div a {
  text-decoration: none;
  color: inherit;
}

.user-login {
  min-height: 100vh;
  max-width: 100vw;
  background-color: 0;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.user-login .myForm {
  display: grid;
  justify-content: center;
}
.user-login .myForm h2 {
  text-align: center;
  margin-top: 5vh;
  font-size: 2.4rem;
}
.user-login .myForm form {
  width: 30vw;
  display: grid;
  margin: auto;
  margin-top: 6vh;
  grid-template-columns: auto;
  gap: 8px;
}
.user-login .myForm form input {
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #ccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  background-color: #f1f1f1;
}

h1 {
  background-color: #212226;
  color: #f2f2f0;
  text-transform: capitalize;
  font-family: "Handlee", cursive;
  font-size: 2em;
  padding: 5px 0;
}

h2 {
  font-size: 1.5rem;
  padding: 5px 0;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #212226;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}/*# sourceMappingURL=main.css.map */