@use "../variables/variables";

@mixin center {
	justify-content: center;
	text-align: center;
}

@mixin font-big {
	background-color: variables.$dark;
	color: variables.$light;
	text-transform: capitalize;
	font-family: "Handlee", cursive;
	font-size: 2em;
	padding: 5px 0;
}
@mixin font-small {
	font-size: 1.5rem;
	padding: 5px 0;
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: variables.$dark;
}

@mixin undline {
	a {
		@include font-big;
		color: variables.$light;
		text-decoration: none;
		font-size: 30px;

		position: relative;
		display: inline-block;
		&::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 3px;
			background-color: variables.$light;
			border-radius: 4px;
			scale: 0 1;
			transform-origin: right;
			transition: scale 0.5s;
		}
		&:hover::before {
			scale: 1;
			transform-origin: left;
		}
	}
}
