@use "../../helpers/mixins/mixins";
@use "../../helpers//variables/variables";

@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

//  menu top bar
.menu-top-bar {
	height: 80px;
	width: 100%;
	background-color: variables.$dark;
	display: flex;
	justify-content: space-between;
	.left-sec {
		a {
			text-decoration: none;
			color: inherit;
		}
		background-color: variables.$dark;
		padding: 20px 10px;
	}
	.right-sec {
		background-color: variables.$dark;

		i {
			background-color: variables.$dark;
			color: variables.$light;
			font-size: 2em;
			padding: 25px 15px;
		}
	}
}

// menu when clicked in mobil view
.menu {
	position: fixed;
	top: 80px;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: variables.$dark;
	animation: goRight 1s;
	animation-timing-function: ease-in-out;
	z-index: 999;
	.innerMenu {
		width: 100%;
		height: 100vh;
		margin: 2rem auto;
		ul {
			display: block;
			background-color: variables.$dark;

			li {
				@include mixins.undline;
				list-style: none;
				padding: 0.8rem;
				background-color: variables.$dark;

				text-align: center;
				a {
					color: variables.$light;
					background-color: variables.$dark;
				}
			}
		}
	}
}
@keyframes goRight {
	from {
		left: 100%;
	}

	to {
		left: 0px;
	}
}

// classes to hide and show menu on mobile
.hide {
	display: none;
}
.show {
	display: block;
}
